
*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


#content {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

p {
    width: 70vw;
    margin: 20px auto; /* Need replacement by relative unit*/
    font-size: 20px; /* Need replacement by relative unit*/
}

h1 {
    font-size: 40px; /* Need replacement by relative unit*/ 
    font-weight: 800;
    text-transform: uppercase;
    margin: 20px; /* Need replacement by relative unit*/ 
}

#startbutton {
    padding: 20px 60px; /* Need replacement by relative unit*/
    margin-bottom: 20px; /* Need replacement by relative unit*/
    font-size: 25px; /* Need replacement by relative unit*/
    background-color: rgb(93, 180, 122);
    color: white;
    font-weight: 500;
    border-radius: 15px; /* Need replacement by relative unit*/
}

#canvas {
    right: 600px;
    position: absolute;
}

#popup {
    visibility: hidden;
    position: absolute;
    top: 200px;
    left: 150px;
    padding: 20px;
    background-color: yellow;
    width: 250px;

}

#btn {
    margin-top: 10px;
    padding: 10px;
    background-color: cyan;
}

#second-btn {
    display: none;
}